* {
    /* outline: 1px solid red; */
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        'header header header'
        'nav    main main'
        'footer footer footer';
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 15rem 1fr;
}

.dashboard {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: #292b2c ;
    width: 100%;
    overflow-x: hidden;
    padding-right: 120px;
    
}

nav {
    grid-area: nav;
    padding-left: 2rem;
    padding-top: 5rem;
    background-color: #292b2c
}

main {
    grid-area: main;
    padding: 1rem;
}

footer {
    grid-area: footer;
    padding: 3rem;
    background-color: #292b2c
}

.logo {
    margin-left: 40px;
}

.brand h1 {
    
    margin-left: 80px ;
    margin-right: 0 ;
    margin-top: 0 ;
    margin-bottom: 0 ;
    font-size: 1.5rem;
    color:darkgrey;
}

.brand h1 span {
    
    margin-left:0.5rem;
    font-size: 1.5rem;
    color:#d70b52

}

.auth {
    display: flex;
    gap: 1rem;
    color: #d70b52;

}

header a {
    color: darkgray;
    text-decoration: none;
}



.nav-links {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 2.5rem;
}

.nav-links .nav-link {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-links .nav-link i {
    font-size: 50px;
    color: darkgrey;
}

.nav-links .nav-link i:hover {
    color: #d70b52
}

.nav-links .nav-link a {
   color: darkgrey;
   text-decoration: none;
}
.nav-links .nav-link a:hover {
    color: #d70b52
}


.dropdown-center i {
    font-size: 50px;
    color: darkgrey;
}

.dropdown-center i:hover {
    color: #d70b52
}

.dropdown-toggle{
    align-items: center;
    background-color: #292b2c;
    border: 1px solid #292b2c;
    margin-left: 0px;
    color: darkgrey;
}

.dropdown-menu{
    background-color: #292b2c;
    outline: #292b2c;
}

.dropdown-menu :hover{
    background-color: #292b2c;
} 

.dropdown-item {
    color: darkgray;
}









.search {
    display: flex;
    align-items: center;
    
}

.search {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 900px;
}






.resource-text{
    color: #E0E0E0;
    text-decoration: none;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.resource-text:hover{
    color: #d70b52;
    text-decoration: none;
}

.resource-text::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #d70b52;
    width: 0%;
    content: "";
    height: 7px;
    transition: all 0.5s;
  }

.resource-text:hover::after {
width: 100%;
}

.resource-text hover{
    color:#d70b52
}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.button-container {
    margin-left: 43%;
}


.table {
    margin: auto;
    width: 97% !important; 
 }


section .login-image {
    background-image: url("../ii_app/images/amey1.png");
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}



.logout-item{
    padding-top: 15px;
}

.logout-item-2{
    margin-top: 0px;
}


.login {
    margin-bottom: 5%;
    margin-left: 100%;
}

.resource-card {
    width: 80%;
    margin-left: 30px;
}

.finance-link {

    display: flex;
    flex-direction: column;
    align-items:center;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 20px;
    background-color: #292b2c;
    border-radius: 2em;
    width: 50%;
    justify-content: center;
    margin-left: 350px;
    cursor:pointer
}

.finance-link:hover {

    background-color: #d70b52;
}

.finance-link a{
    text-decoration: none;
    display: flex;
    color: #E0E0E0;
    text-align: center;
    list-style-type: none;
    gap: 5rem;
    
}


.finance-link a:hover {

    display: flex;
    flex-direction: column;
    align-items: center;
}


.risk-form{

background-color: #292b2c;
padding-left: 2rem;
padding-right: 2rem;
padding-bottom: 2rem;
color: darkgrey;
}

.risk-form h4{

    text-align: center;
    }

.cv-table {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
}


.cv-table tr:hover {
    color: #d70b52;
    background-color: lightgray;
}

.cv-table img {
    border-radius: 10px;
}

.cv-table-descriptions{
    width: 500px;
    height: 100px;
    
}

.cv-table-descriptions i{
    font-size: 50px;
}


.search{
    display: flex;
    align-items: center;
    margin-left: 1250px;
    width: 300px;
    gap: 10px;
}


.form-outline .btn{
    margin-left: 10px;
}


footer  {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    column-gap: 50px;
    text-decoration: none;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 505px;
    padding-top: 33px;

}

footer a {
    color: #d70b52;
}

footer a:hover {
    color: grey;
}

.social-media {
 
    font-size: 1.8em;
    gap: 50px;

}


.footer-links{
    column-gap: 10px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none ;

}

.sign-up-form {
    width: 500px;
    padding: 40px;
    margin-left: 720px;
    margin-top: 200px;
    background-color: #292b2c;
    color: #E0E0E0;
    border-radius: 2rem;
    border:#E0E0E0 1px solid;
    
}

.sign-up-button {
   margin-left: 170px;
   margin-top: 20px;
   border-radius: 0.5rem;
   background-color: white;
   padding: 7px;
}

.sign-up-image{
    background-image: url("../ii_app/images/amey2.png");
    width: 800%;
    height: 150%;
    background-size: 100% 100%;
}

.sign-up-image-2{
    background-image: url("../ii_app/images/amey1.png");
    width: 800%;
    height: 175%;
    background-size: 100% 100%;
}

.messages {
    background: #4ba7c8;
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

#password-reset-notice {
    padding-top: 30px;
}

/* division for posts page */

.posts{
    display: flex;
    flex-direction: column;
    padding:10px;
    width: 600px;
    margin-top: 0px;
    margin-right: 0px;
    position: sticky;

}
/* each card on the post page */
.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-top: 30px;
    outline:grey 1px solid;
    
 
}
/* card heading for each card on posts page */
.card-heading {
    display: flex;
    background-color: #d70b52;;
}

.post-grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    justify-content: center;

}


.sign-up-form{
    display: flex;
    flex-direction: column;
    margin-left: 160px;
    margin-top: 45px;
    position:static;
    background-color: #292b2c;
}

.opportunity {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #292b2c;
} 

.sign-up-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    background-color: whitesmoke;

}

.bx-user {
    font-size: x-large;
}

.bxs-heart {
    color:#d70b52;
    font-size: x-large;
    border-radius: none;
    
}

.bx-heart {
    font-size: x-large;
    border-radius: none;
    
}

.heart-button{
    display: flex;
    border: white;
    background-color: white;
    width:30px;
    height: 20x;
   
}

.like-count{
    margin-top: 5px;
}

.bxs-comment{
    display: absolute;
    border: white;
    width:30px;
    height: 20x;
}

.navbar-toggler{
    color: white;
}