
.dashboard {
    margin: 0;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.chart canvas {
    max-height: 20rem;
}


table {
    width: 100%;
    text-align: center;
    border: 0.1rem solid black;
}

table th  {
    border: 0.1rem solid black;
    background-color: #292b2c;
    color: #E0E0E0;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



table td {
    border: 0.1rem solid black;
}

table tr:hover {
    background: hsl(339, 90%, 95%);
}

table th, table td {
    padding: 1rem;
}

