
*{
	/* outline: 1px solid red; */
	box-sizing: border-box;
}

.finance-detail {
	margin: 0;
	padding: 3rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
}

.finance-detail .card {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 2rem;
	border-radius: 0.5rem;
	border-left: 0.5rem solid #d70b52;
	border-right: 0.5rem solid #d70b52;
	transition: 0.5s border-left, 0.5s border-right;
}

.finance-detail .card:hover {
	border-left: 0.1rem solid #d70b52;
	border-right: 0.1rem solid #d70b52;
}

.card h5 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
}

.card span {
	font-size: 1.5rem;
}

