
*{
    outline: 1px solid red;
    box-sizing: border-box;
}

.finance-detail {
    margin: 0;
    display: grid;
    grid-template-areas:
        'visual1 visual2 visual3 visual4'
        'visual5 visual6 visual7 visual8';
    grid-template-rows: 10rem 20rem ;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    row-gap: 40px;
    margin-top: 10px;
}

.finance-detail .card {
    display: flex;
    padding: 20px;

}

.card-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    padding: 2px;
   
}

.metrics {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    font-size:35px;
    opacity: 0.7;
}

.metrics1 i{
    color: gold;
    position: absolute;
    margin-left: 200px;
    stroke: black;
    stroke-width: 20;
    text-shadow: 0 0 3px #000;
   
}

.metrics2 i{
    color: blueviolet;
    position: absolute;
    margin-left: 200px;
    stroke: black;
    stroke-width: 20;
   
}

.metrics3 i{
    color: #d70b52;
    position: absolute;
    margin-left: 200px;
    stroke: black;
    stroke-width: 20;
   
}
.metrics4 i{
    color: green;
    position: absolute;
    margin-left: 250px;
    stroke: black;
    stroke-width: 20;
   
}

.card1 {
    border-left:3px solid gold ;
}
.card2 {
    border-left:3px solid blueviolet ;
}
.card3 {
    border-left:3px solid #d70b52 ;
}
.card4 {
    border-left:3px solid green ;
}

.card:hover {
    margin: 5px;
   
}

