*{
    /* outline: 1px solid red; */
    box-sizing: border-box;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 8px solid  ;
    border-right: 8px solid ;
    width: 800px;
    margin-left: 390px;
    margin-top: 25px;
}

.card-heading {
    display: flex;
    text-decoration: underline;
}