
.register-table {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    border: 0.1rem solid black;
}

.register-table th  {
    border: 0.1rem solid black;
}

.register-table td {
    border: 0.1rem solid black;
}

.register-table tr:hover {
    background: hsl(339, 90%, 95%);
}

.register-table th, .register-table td {
    padding: 1rem;
}

.register-table td:nth-child(2) {
    width: 20rem;
}
.register-table td:nth-child(11) {
    width: 10rem;
}

.action {
    text-decoration: none;
    border: 0.1rem solid #d70b52;
    color: #d70b52;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}

.action:hover {
    color: #d70b52;
}