
/* 
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */


nav{

    border-bottom: 4px solid #d70b52;
}

 nav h1{
    color: #E0E0E0;
    font-size: 28px;
    font-weight: 650;
    letter-spacing: 2px;
    text-transform: uppercase;
    float:left;
    position: relative;
    display:inline-block;
    padding-top: 3.5%;
    padding-left: 4%;
} 

nav img {
    height:80;
    left: 0;
}

nav li {

    position: relative;
    height: 100%;
    display:inline-block;
    padding-top: 15%;
    font-size: 20px;
}

li a { 
    text-decoration: none;
    margin-left: 0%;
    color: #E0E0E0;
    font-size: 15px;
}
 
ul a:hover 
{ 
    color: #d70b52 !important; 
}


  .navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #d70b52;
    width: 0%;
    content: "";
    height: 4px;
    transition: all 0.5s;
  }
  
  .navbar .navbar-nav .nav-item:hover::after {
    width: 100%;
  }

.nav-link hover{
    color:#d70b52
}

form{
    margin-top: 80px;
}

.images {
    border: 1px solid #d70b52 ;
  }

.resource-text{
    color: #E0E0E0;
    text-decoration: none;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.resource-text:hover{
    color: #d70b52;
    text-decoration: none;
}


.resource-text::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #d70b52;
    width: 0%;
    content: "";
    height: 7px;
    transition: all 0.5s;
  }
  
  .resource-text:hover::after {
    width: 100%;
  }

.resource-text hover{
    color:#d70b52
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    
}

.button-container {
    margin-left: 43%;
}

.plcalculate {
    text-align: center;
    background-color: #d70b52;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 5%;
  }

.table {
    margin-left: 5%;
}