{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS only -->
    <link rel="stylesheet" href="{% static 'ii_app/style.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
    </script>

    <script src="{% static 'ii_app/app.js' %}"></script> 

  </head>

  <body>
    <nav>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
          <a class="navbar-brand" href=/ii_app/>
            <img
              class="logo-image"
              src="/static/ii_app/images/amey.png"
              height="80"
            />
          </a>
          <h1 class="logo">Intelligent Infrastructure</h1>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/ii_app/"
                  >Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ii_app/resources">Resources</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/ii_app/finances">Finances</a>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href=""
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Risks
                </a>
                <ul
                  class="dropdown-menu dropdown-menu-end"
                  aria-labelledby="navbarDropdown"
                >
                  <li><a class="dropdown-item" href="/ii_app/addrisks">Risk Form</a></li>
                  <li><a class="dropdown-item" href="/ii_app/riskregister/">Risk Register</a></li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li><a class="dropdown-item" href="#">Risk Process</a></li>
                </ul>
                
              </li>



              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href=""
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Tools
                </a>
                <ul
                  class="dropdown-menu dropdown-menu-end"
                  aria-labelledby="navbarDropdown"
                >
                  <li><a class="dropdown-item" href="/ii_app/margin">Margin Checker</a></li>
                  <li><a class="dropdown-item" href="#">TBC</a></li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li><a class="dropdown-item" href="#">TBC</a></li>
                </ul>
                
              </li>


            </ul>
          </div>
        </div>
      </nav>

    </nav>

    {% block body %} 
    {% endblock %}

  </body>
</html>
