{% extends 'ii_app/base.html' %}
{% block pagetitle %} CV Library {% endblock %}
{% load static %}

{% block styles %}

<link rel="stylesheet" href="{% static 'ii_app/cv.css' %}">

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
{% endblock %}

{% block main %} 

  <table class="cv-table">
    <tr class="cv-table-rows">
      <th>Image</th>
      <th>Name</th>
      <th>Skillsets</th>
      <th>Grade</th>
      <th>File</th>
    </tr>
  
    {% for item in resource %}
    <tr class="cv-table-rows">
      <td class="cv-table-descriptions"><img src={{item.image.url}} style="width: 10rem;" alt=""></td>
      <td class="cv-table-descriptions">{{item.name}}</td>
      <td class="cv-table-descriptions">{{item.skillset}}</td>
      <td class="cv-table-descriptions">{{item.amey_position}}</td>
      <td class="cv-table-descriptions"><i class='bx bx-news' ></i></td>

    </tr>
    {% endfor %}
    
  </table>


{% endblock %}


<table id="cv-table">
  <tr class="cv-table-rows">
    <th>Image</th>
    <th>Name</th>
    <th>Skillsets</th>
    <th>Grade</th>
    <th>File</th>
  </tr>

  {% for item in resource %}
  <tr class="cv-table-rows">
    <td class="cv-table-descriptions">Alfreds Futterkiste</td>
    <td class="cv-table-descriptions">Maria Anders</td>
    <td class="cv-table-descriptions">Germany</td>
  </tr>
  {% endfor %}
  
</table>
