{% extends 'ii_app/base.html' %}
{% block pagetitle %} Dashboard {% endblock %}
{% load static %}

{% block styles %}

<link rel="stylesheet" href="{% static 'ii_app/dashboard.css' %}">

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
{% endblock %}

{% block main %}

<div class="dashboard">
    <div class="chart">
        <table>
            <thead>
                <tr>
                    <th>Project Revenue</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span>
                            <canvas id='revenue-chart' width='50' height='50'></canvas>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="chart">
        <table>
            <thead>
                <tr>
                    <th>Project Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span>
                            <canvas id='cost-chart' width='50' height='50'></canvas>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class='open-risks'>
        <table>
            <thead>
                <tr>
                    <th>Open Risks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ open_risks }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class='live-projects'>
        <table>
            <thead>
                <tr>
                    <th>Project Code</th>
                    <th>Assignments</th>
                </tr>
            </thead>
            <tbody>
                {% for row in live_projects %}
                <tr>
                    <td>{{ row.0 }}</td>
                    <td>{{ row.1 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class='assignment-hours'>
        <table>
            <thead>
                <tr>
                    <th>Project Code</th>
                    <th>Resource Name</th>
                    <th>Position Name</th>
                    <th>Hours this Week</th>
                </tr>
            </thead>
            <tbody>
                {% for row in assignment_hours %}
                <tr>
                    <td>{{ row.0 }}</td>
                    <td>{{ row.1 }}</td>
                    <td>{{ row.2 }}</td>
                    <td>{{ row.3 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class='assignment-dates'>
        <table>
            <thead>
                <tr>
                    <th>Project Code</th>
                    <th>Resource Name</th>
                    <th>Position Name</th>
                    <th>End date</th>
                </tr>
            </thead>
            <tbody>
                {% for row in assignment_dates %}
                <tr>
                    <td>{{ row.0 }}</td>
                    <td>{{ row.1 }}</td>
                    <td>{{ row.2 }}</td>
                    <td>{{ row.3 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
<script>
    const backgroundColors = [
        'hsl(0, 100%, 80%)',
        'hsl(60, 100%, 80%)',
        'hsl(120, 100%, 80%)',
        'hsl(180, 100%, 80%)',
        'hsl(240, 100%, 80%)',
        'hsl(300, 100%, 80%)'
    ]
    const borderColors = [
        'hsl(0, 100%, 30%)',
        'hsl(60, 100%, 30%)',
        'hsl(120, 100%, 30%)',
        'hsl(180, 100%, 30%)',
        'hsl(240, 100%, 30%)',
        'hsl(300, 100%, 30%)'
    ]
    
    const ctx1 = document.querySelector('#revenue-chart').getContext('2d')
    const chart1 = new Chart(ctx1, {
        type: 'pie',
        options: {
            plugins: {
                legend: {position: 'right'},
            }
        },
        data: {
            labels: [{% for label in project_revenues.0 %} '{{ label }}', {% endfor %}],
            datasets: [
                {
                    label: 'Project Revenue',
                    data: [{% for rev in project_revenues.1 %} {{ rev }}, {% endfor %}],
                    backgroundColor: backgroundColors,
                    borderColor: borderColors
                }
            ]
        }
    })

    const ctx2 = document.querySelector('#cost-chart').getContext('2d')
    const chart2 = new Chart(ctx2, {
        type: 'pie',
        options: {
            plugins: {
                legend: {position: 'right'}
            }
        },
        data: {
            labels: [{% for label in project_costs.0 %} '{{ label }}', {% endfor %}],
            datasets: [
                {
                    label: 'Project Costs',
                    data: [{% for cost in project_costs.1 %} {{ cost }}, {% endfor %}],
                    backgroundColor: backgroundColors,
                    borderColor: borderColors
                }
            ]
        }
    })
</script>
{% endblock %}