{% extends 'ii_app/base.html' %}

{% block body %}

<div class="plcalculate">
    <h1>Profit and Loss Calculator</h1>
    <p>
        Cost Price(CP) :
        <input class="cost__price" type="number" />
    </p>
  
    <p>
        Selling Price(SP) :
        <input class="selling__price" type="number" />
    </p>
  
    <button onclick="Calculate()">Calculate</button>
  
    <h2 class="profit__loss"></h2>
    <h2 class="profit__loss__percentage"></h2>
    <h2 class="nothing"></h2>
  
</div>

{% endblock %}