{% extends 'ii_app/base.html' %}


{% block body %}

      <div class="card text-center mt-5 w-75 mx-auto">
          <div class="card-header">
              Assignment Date: {{Date}}
            </div>
            <div class="card-body">
       
                <h5 class="card-title">Employee Name:{{resource_detail.name}}</h5>
                <h5 class="card-title">Employee Id:{{resource_detail.id}}</h5>
                <h5 class="card-title">Project Code:{{resource_detail.project.code}}</h5>
                <h5 class="card-title">Project Name: {{resource_detail.project.name}}</h5>
                <h5 class="card-title">Position:{{resource_detail.project.position}}</h5>
                <h5 class="card-title">Day Rate: {{resource_detail.project.day_rate}}</h5>
                <h5 class="card-title">CF Number: {{resource_detail.project.cf_number}}</h5>
                
                <a href="#" class="btn btn-primary">Go somewhere</a>
            
            </div>
            <div class="card-footer text-muted">
                Status: {{status}}
            </div>
        </div>
{% endblock %}





