{% extends 'ii_app/base.html' %}


{%block body%}

    
      <div class="card text-center mt-5 w-75 mx-auto">
          <div class="card-header">
              Assignment Start Date: {{assignment.start}}
            </div>
            <div class="card-body">
                
                
                <h5 class="card-title">Employee Name:{{resource.name}}</h5>
                <h5 class="card-title">Project Code:{{resource.project.code}}</h5>
                <h5 class="card-title">Project Name: {{resource.project.title}}</h5>
                <h5 class="card-title rate">Charge Rate: £{{assignment.rate}}</h5>
                <h5 class="card-title cone">Charge Rate: £{{resource.cone_rate}}</h5>
              

                <a href="#" class="btn btn-primary">Go somewhere</a>
            

            </div>
            <div class="card-footer text-muted">
                Assignment Start Date: {{assignment.end}}
            </div>
        </div>


    
{%endblock%}





