{% extends 'ii_app/base.html' %}


{% block body %}

      <div class="card text-center mt-5 w-75 mx-auto">
          <div class="card-header">
              Assignment Date: {{Date}}
            </div>
            <div class="card-body">
                <h5 class="card-title">Employee Id:{{employee.employee_id}}</h5>
                <h5 class="card-title">Name:{{employee.name}}</h5>
                <h5 class="card-title">Position:{{employee.position}}</h5>
                <h5 class="card-title">Day Rate: {{employee.day_rate}}</h5>
                <h5 class="card-title">CF Number: {{employee.cf_number}}</h5>
                <h5 class="card-title">Project Name: {{employee.project_name}}</h5>
             
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer text-muted">
                Status: {{status}}
            </div>
        </div>
{% endblock %}
