{% extends 'ii_app/base.html' %}

{% block body %}


<table class="table flex-d align-middle mb-0 mt-5">
  <thead class="bg-light ">
    <tr class="">
      <th scope="">Project Code</th>
      <th scope="">Project Name</th>
      <th scope="">Resource</th>
      <th scope="">Risk Description</th>
      <th scope="">Impact</th>
      <th scope="">Probability</th>
      <th scope="">Mitigation</th>
      <th scope="">Owner</th>
      <th scope="">Status</th>
      <th scope="">Date Opened</th>
    </tr>
  </thead>
  {% for item in risk_register %}
  <tbody>
    <tr class="">
      <th scope="row">{{item.project.code}}</th>
      <td>{{item.project.title}}</td>
      <td>{{item.resource.name}}</td>
      <td>{{item.description}}</td>
      <td>{{item.impact}}</td>
      <td>{{item.probability}}</td>
      <td>{{item.mitigation}}</td>
      <td>{{item.owner}}</td>
      <td>{{item.status}}</td>
      <td>{{item.date_opened}}</td>
    </tr>

{% endfor %}

{% endblock %}


