{% extends 'ii_app/base.html' %}
{% block pagetitle %} Risk Entry {% endblock %}


{% block main %}

<div class="risk-form">
    <h4 class="" ">Risk Input Form</h4>
    <form class="risk-form" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <!-- <button type="submit">Save</button> -->
            <div class="button-container">
                <button class="btn btn-outline-light " href = "/ii_app/riskregister/" align="center" style="width:30%" align type="submit">Save</button>
            </div>
    </form>

</div>

{% endblock %}

