{% extends 'ii_app/base.html' %}
{% block pagetitle %} Risk Register {% endblock %}
{% load static %}

{% block styles %}

<link rel="stylesheet" href="{% static 'ii_app/risk_register.css' %}">

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
{% endblock %}

{% block main %} 

<body>
  <div class="search">
    <div class="input-group">
      <div class="form-outline">
        <form action="" method="GET" class="d-flex">
          <input type="text" name="query" id="form1" class="form-control rounded" placeholder="search by owner or status" aria-label="Search"/>
          <button type="submit" class="btn btn-outline-dark">search</button>
        </form>
        </div>
    </div>
  </div>

    <table class="register-table">
      <tr class="register-table-rows">
        <th class="heading-1" >Project Code</th>
        <th class="heading-2" >Project Name</th>
        <th class="heading-3" >Resource</th>
        <th class="heading-4" >Risk Description</th>
        <th class="heading-5" >Impact</th>
        <th class="heading-6" >Probability</th>
        <th class="heading-7" >Mitigation</th>
        <th class="heading-8" >Owner</th>
        <th class="heading-9" >Status</th>
        <th class="heading-10" >Date Opened</th>
      </tr>
    
      {% for item in risk_register %}
      <tr class="register-table-rows">
        <td class="description-1">{{item.project.code}}</th>
        <td class="description-2">{{item.project.title}}</td>
        <td class="description-3">{{item.resource.name}}</td>
        <td class="description-4">{{item.description}}</td>
        <td class="description-5">{{item.impact}}</td>
        <td class="description-6">{{item.probability}}</td>
        <td class="description-7">{{item.mitigation}}</td>
        <td class="description-8">{{item.owner}}</td>
        <td class="description-9">{{item.status}}</td>
        <td class="description-10">{{item.date_opened}}</td>

        {% empty %}
        <p>Search found nothing</p>
  
        {% endfor %}
      </tr>

    
    </table>



{% endblock %}


