{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block main %}

<section class="sign-up-image-2">
   
    <form class="form-row sign-up-form col-md-12 mb-0 mb-5" method="POST" action="">
    
        {%csrf_token%}
        
        {{ form|crispy }}

        <p id="password-reset-notice"> Enter your email address above and press submit. You will recieve an email with a link. Click on the link to reset your password. </p>

        <input class="sign-up-button" type="submit" name="send email">

    </form>

</section>

{% endblock %}


