{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block styles %}

<link rel="stylesheet" href="{% static 'users/sign_up.css' %}">

{% endblock %}

{% block main %}

<section class="sign-up-image-2">

    <div>
        <p>Enter a new password and confirm your password below</p>
    </div>
   
    <form class="form-row sign-up-form col-md-12 mb-0" method="POST" action="">
    {%csrf_token%}
        
    {{form|crispy}}

    <input class="sign-up-button" type="submit" name="send email">

</form>

{% endblock %}

