
{% extends '../ii_app/base.html' %}
{% block pagetitle %} Opportunity Forum {% endblock %}
{% load crispy_forms_tags %}




{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
{% endblock %}

{% block main %}

<div class="post-grid_container">

    <div class="post-grid-child-1">

        <form class=" sign-up-form " method="POST" enctype="multipart/form-data" action="">

            <p class="opportunity">Add Opportunity</p>
            
            {%csrf_token%}
                
            {{form|crispy}}
            
            <input class="sign-up-button" type="submit" name="send email">
        </form>

    </div>


    <div class="post-grid-child-2">

        <div class="posts">
            {% for post in posts %}
            <div class="card">
                <h5 class="card-heading">  <i class='bx bx-user'></i> &nbsp &nbsp {{post.user}} &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp  {{post.created}}</h5>
                <div class="metrics metrics1">{{post.opportunity}}</div>
            </div> 

            <div class="likes-container">
                <p class="number-of-likes"> </p>

                <form action="{% url 'like_post' post.pk %}" method="POST">
                    {% csrf_token %}

                    <button type="submit" name = "post_id" value = "{{post.id}}" class="heart-button"> 
                        {%if post in user_posts%}
                        <i class='bx bxs-heart'></i> &nbsp
                        <i class='bx bx-comment'></i> &nbsp
                        {%else%}
                        <i class='bx bx-heart'></i> &nbsp
                        <i class='bx bx-comment'></i> &nbsp
                        {%endif%}
                    </button>

                    <!-- <button type="submit" name = "post_id" value = "{{post.id}}" class="comment-button"> 
                        {%if post in user_posts%}
                        <i class='bx bxs-comment'></i> &nbsp
                        {%else%}
                        <i class='bx bx-comment'></i> &nbsp
                        {%endif%}
                    </button> -->



                    <div class="like-count">
                        Likes:{{post.likes.count}}
                    </div>
                    
                </form>
    


            </div>

            {% endfor %}



       
          


        </div>


</div>

{%endblock%}
