{% extends 'users/base.html' %}

{% load crispy_forms_tags %}

{% block main %}

<section class="sign-up-image">
    
    <form class="form-row sign-up-form col-md-12 mb-0" method="POST" action="">
        
        {%csrf_token%}
        
        {{ sign_up_form|crispy }}
        
        <input class="sign-up-button" type="submit" name="create user">
        
        <div>
            <p class="mb-2 pb-2">Already have an account? <a href="../sign_in/" class="text-white-50 fw-bold">Sign
                In</a>
            </p>
        </div>
    </form>
    
</section>


{% endblock %}